<div class="center hero-unit">
  <h1>FrontPage - The Everted News Application</h1>
<p>There is a fundamental problem in the way news sites display news online.
If I go to let us say Firstpost, I get "India News", and if I were to select
a locality I get news of that location only. </p>
<p>We are trying to get the experience of picking up a copy of your local
newspaper over a cup of coffee. Your local newspaper has a good sense of 
"gravity", the front page of it displays news that is prominent, local news of 
slightly lower magnitude are highlighted over national news,and international
news makes it to the front page only if it is really big.</p>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>





