<h1>humans.txt</h1>
<p> These are the humans behind the project 
   <ul>
   	<li>Abhimanyu "Coden" Mongandh Ambalath <br/>
   	    The guy who came up with the idea and then slept off, and most 
   	    importantly the guy who is writing this page.
   	</li>
   	<li>Sudhanshu "Tom Hanks" Tamhankar <br />
   		Self described has the best pick up guy in IIT Kanpur, we wish 
   		we could say the truth, but the sacrifices we make for team 
   		physics
   	</li>
 
   </ul>
</p>

