<div class="row-fluid">
  <div class="span9">
    <h1> <%= @article.title %></h1>
    <p><small class="pull-left">
    	<%= @article.author %>
       </small>
       <small class="pull-right">
       	<%= @article.date %>
       </small>
    </p>
    <p><hr/></p>
      <p><%= @article.content.gsub(/^(.*)$/, '<p>\1</p>').html_safe%></p>
  </div>
  <div class="span3">
  	<div id="Lat"></div>
  	<div id="Long"></div>
  </div>
</div>
          
